html, body { height: 100%; }
body {
	position: relative;
	font-size: 10pt;
	margin: 0;
	padding: 0; }

p {
	margin: 0.25em 0;
	padding: 0;
	line-height: 1.5em; }

span.sender {
	background: blue;
	color: white;
	padding: 0.125em 0.25em;
	margin-right: 1em;
	border-radius: 0.5em; }

#textarea {
	font: inherit;
	position: absolute;
	bottom: 0;
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	background: #ddd;
	height: 4em; }

#textarea:focus { background: white; }

#chatarea {
	position: absolute;
	font: inherit;
	top: 3em;
	bottom: 4em;
	left: 0;
	width: 100%;
	overflow: auto; }

#tabbar {
	font: inherit;
	border-bottom: 0.125em solid grey;
	background: #ddd;
	height: 2.875em; }

#tabbar > * {
	text-align: center;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 0.5em;
	display: inline-block;
	vertical-align: bottom; }

#tabbar > *.active {
	background: white;
	border-bottom: 0.375em solid blue; }
