body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#chatarea, #textarea, #tabbar {
	font-family: monospace;
	font-size: 10pt;
	position: fixed;
}
#chatarea {
	background-color: cyan;
	width: 100%;
	top: 2em;
	bottom: 3em;
}
#textarea {
	border: 1px solid black;
	width: 100%;
	bottom: 0;
	height: 3em;
}

#tabbar {
	top: 0;
	height: 2em;
	width: 100%;
	background-color: pink;
}
