body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#chatarea, #textarea, #tabbar {
	font-family: monospace;
	font-size: 10pt;
	position: fixed;
}
#chatarea {
	width: 100%;
	top: 2em;
	bottom: 3em;
	overflow: auto;
}
#textarea {
	border: 1px solid black;
	width: 100%;
	bottom: 0;
	height: 3em;
}
textarea[disabled] { background: yellow; }
#tabbar {
	top: 0;
	height: 2em;
	width: 100%;
	background: red;
}
.chatview { padding: 0.5em; }
p.message .username {
	background-color: #7986cb;
	border-radius: 0.5em;
	color: white;
	padding: 0.25em;
	margin-right: 1em;
}
p.message .contents { font-family: sans-serif; }
p.message {
	margin: 0.5em 0;
	line-height: 1.5em;
}
p.info {
	color: #616161;
	font-style: italic;
	margin: 0.5em 0;
	line-height: 1.5em;
}
.dialog {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: white;
	border-radius: 2px;
	border: 1px solid #999;
	text-align: center;
	box-shadow: 0 8px 16px #888;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.dialog .title {
	text-align: center;
	border-bottom: 1px solid #999;
	background: #eee;
	padding: 1em;
}
.dialog .items {
	padding: 1em;
	white-space: nowrap;
}
